.move-list{
    margin-top: 20px;


    .move-list-li{
        color: $clr2;
        gap: 10px;
        background-color: $clr1;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        user-select: none;
        transition: 0.3s;
        width: 80%;   
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
